<!DOCTYPE html>
<html>
  <head>
    <title>MenuApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
         <ul id="navbar">
           <% if current_user %>
             <li id="nav-link"><%= link_to "#{current_user.first_name}'s Profile", user_path(current_user), :class => "Link"%></li>
             <li id="nav-link"><%= link_to "Make a Recipe!", new_recipe_path, :class => "Link"%></li>
              <li id="nav-link"><%= link_to "Log Out", logout_path, method: :delete, :class => "Link" %></li>
           <% end %>
         </ul>
       </div><!--/.nav-collapse -->
     </div>


    <%= yield %>
  </body>
</html>
